@import "app/styles/variables";

.quiz-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 50px);
}


.quiz-results__list {
  list-style: none;
  padding: 0;
  margin: 0 0 var(--spacer-xl);
}

.quiz-results__item {
  padding: var(--spacer-m);
  margin-bottom: var(--spacer-m);
  border: 1px solid var(--secondary-darken);
  border-radius: var(--spacer-xs);
  background-color: var(--secondary-lighten);
}

.quiz-results__status {
  margin-top: var(--spacer-xs);
  font-weight: var(--font-weight-bold);
}

.quiz-results__status--correct {
  color: var(--system-color-success);
}

.quiz-results__status--wrong {
  color: var(--system-color-danger);
}

.quiz-results__summary {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  text-align: center;
}

.quiz-results__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: var(--spacer-m);
  margin-top: auto;
}

.quiz-results__empty {
  width: 100%;
  text-align: center;
}

@media (max-width: $bs-breakpoint-sm) {
  .quiz-results__button {
    width: 100%;
  }
  .quiz-results__buttons {
    flex-wrap: wrap;
  }
}

