<div class="index-page">
  <div>Выбери квиз</div>

  <div class="quiz-list">
    {{#each this.quizzes as |quiz|}}
      <QuizCard::Item
        @name={{quiz.name}}
        @id={{quiz.id}}
        @onOpenQuizAction={{this.openQuiz}}
      />
    {{/each}}
  </div>
</div>
